* {
  box-sizing: border-box;
}

body {
  background-color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

.library {
  display: grid;
  grid-template: repeat(auto-fit, 20rem) / repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
  width: 70%;
  margin: auto;
}

.book {
  background-color: lightgray;
  border-radius: 15px;
  position: relative;
}

.bookTitle {
  text-align: center;
  margin: 1rem 0 0 0;
}

.bookAuthor {
  text-align: center;
  font-size: 0.8rem;
  margin: 0
}

.bookPages {
  text-align: center;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.bookIsRead {
  display: block;
  width: fit-content;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  position: absolute;
  bottom: 1rem;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.checkbox__input {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  background-color: #EDEDED;
  width: 1.2rem;
  height: 1.2rem;
  border: 0.1rem solid black;
  border-radius: 4px;
  position: relative;
  transform: translateY(0.2rem);
  margin: 0;
}

.checkbox__input::before {
  content: "";
  width: 1rem;
  height: 1rem;
  transform: scale(0);
  box-shadow: inset 1rem 1rem white;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox__input:checked {
  background-color: black;
}

.checkbox__input:checked::before {
  display: inline-block;
  transform: scale(1);
  transform: translate(-50%, -50%);
}

.checkbox__span {
  font-size: 1rem;
  margin: 0 0.5rem 0 0;
}

.add-book-toggle {
  position: fixed;
  font-size: 3rem;
  line-height: 0;
  right: 2rem;
  bottom: 2rem;
  background-color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
}

.add-book-button:active {
  background-color: lightgray;
}

.add-book-icon {
  width: 2rem;
}

.add-book {
  padding: 0 6rem;
  background-color: lightgray;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border: 1px solid black;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  row-gap: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 100rem 15rem black;

}

.book-title {
  width: 100%;
}

.book-title > input {
  width: 100%;
}

.book-author {
  width: 100%;
}

.book-author > input {
  width: 100%;
}

.book-pages {
  display: inline-block;
  width: 50%;
}

.book-read {
  width: 50%;

}

.book-pages > input {
  width: 4rem;
}


.add-book-submit {
  /* position: absolute;
  right: 1rem;
  bottom: 1rem; */
  padding: 0 2rem;
  margin-left: auto;
}

.hide {
  display: none;
}